<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
   
    <%- include("../partials/nav.ejs") %>
    
     <!-- <% const name = "Rakesh" %>
    <nav>
        <div="site-title">
        <p><%= name %></p>
            <a href="/">
                <h1>Blogs</h1>
            </a>
            <p>A Blog App </p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>  -->
    
  
    <h1>All Blog</h1>   
   
    <div >
        <% if(blogs.length>0) {%>
            
            <% blogs.forEach(blog=>{ %>
                <div class="all_blogs">
                <a class="single" href="/blogs/<%= blog._id %>">
                <h3 class="tt"><%= blog.title %></h3>
                <p class="snip"><%= blog.snippet %></p>
                <p class="desc"><%= blog.description %></p></a>
            </div>
            <% }) %>
                
         <% } %>   
    </div>

    <%- include("../partials/footer.ejs") %>
</body>

</html>